@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background: url('../images/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container {
    background-image: linear-gradient(45deg, #e0c3fc, #8ec5fc);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px); /* Background blur effect */
    text-align: center;
}

.logo{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid #8ec5fc;
    object-fit: cover; /* 이미지를 컨테이너 안에 맞춤 */
}

.imagePlaceholder {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}

p {
    margin: 20px 0;
    font-size: 18px;
}

#startBtn {
    width: 100%;
    height: 48px;
    background-color: #ff9aa2;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#startBtn:hover {
    background-color: #ff6f91;
}


