@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* header {
    background-color: #003366;
    padding: 20px 0;
    text-align: center;
} */

.logo{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid #8ec5fc;
    object-fit: cover; /* 이미지를 컨테이너 안에 맞춤 */
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background-color: #f5f5dc;
    background: url('../images/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background-image: linear-gradient(45deg, #e0c3fc, #8ec5fc);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px); /* Background blur effect */
    text-align: center;
}

/* .backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/sky.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: 0;
} */

.textArea {
    width: 400px;
    height: 500px;
    border: 2px solid; 
    border-image: linear-gradient(45deg, #e0c3fc, #8ec5fc);
    border-image-slice: 1;
    background-color: white;
    margin-bottom: 20px; 
}

#clickImg {
    width: 80px;
    height: auto;
    background-color: white;
    border: 2px solid #e0c3fc;
    border-radius: 50%; 
    object-fit: cover;
}

.voiceImg {
    margin-bottom: 20px; 
}

#voiceBtn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

/* #next {
    width: 120px;
    height: 36px;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s; 
}

#next:hover {
    background-color: #4E5B31;
} */


#nextBtn {
    width: 100%;
    height: 48px;
    background-color: #ff9aa2;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#nextBtn:hover {
    background-color: #ff6f91;
}


/* .textArea,
.voiceImg,
.nextBtn {
    position: relative; /* 자식 요소의 z-index를 위한 설정 
    z-index: 1; /* 내용물이 배경 이미지 위에 보이도록 설정 
} */